<div class="container-fluid">
  <h2>Registration Form</h2>
  {{registrationForm.value | json}}

  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Username</label>
      <input 
      [class.is-invalid] = "registrationForm.get('userName')?.invalid &&
                            registrationForm.get('userName')?.touched"
      
      formControlName="userName" type="text" class="form-control">
      
      <div *ngIf="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched">
        <small class="text-danger" *ngIf="registrationForm.get('userName')?.errors?.required">Username is Required!</small>
        <small class="text-danger" *ngIf="!registrationForm.get('userName')?.errors?.minLength">Username Must Be at Least 2 Characters Long!</small>
        <small class="text-danger" *ngIf="registrationForm.get('userName')?.errors?.forbiddenName"> Username is Forbidden!</small>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <button (click)="addAlternateEmail()" type="button" class="btn btn-secondary btn-sm m-2">Add Alternative E-mail</button>
      <input [class.is-invalid] = "registrationForm.get('email')?.invalid &&
      registrationForm.get('email')?.touched"
      
      type="text" formControlName="email" class="form-control">

      <small class="text-danger" [class.d-none]="registrationForm.get('email')?.valid ||
      registrationForm.get('email')?.untouched"> Must Use Email in Order to Subscribe!</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" formControlName="subscribe" class="form-check-input">
      <label for="" class="form-check-label"></label>
      Send Me Promotional Offers!
    </div>

    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" type="password" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords Do Not Match!</small>
    </div>

    <div formGroupName="address">

      <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input formControlName="postalCode" type="text" class="form-control">
      </div>

    </div>

    <button (click)="onSubmit()" [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>
    <button (click)="loadApiData()" class="btn btn-secondary mt-2" type="button">Load API Data</button>

  </form>
</div>